* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.afooter{
    padding-top: 10px;
    text-align: center
}
.sideandcarouselcontainer{
    display: flex;
    flex-direction: row;  
}
.leftside{
    display: flex
    flex-direction: column;
    height:auto;
    width: 40px;
    background-color:#03256c
}
.rightside{
    display: flex;
    flex-direction: column;
    height:auto;
    width: 40px;
    background-color:#03256c
}
.footer{
    margin-top:10px;
    height: 100px;
    background-color:#03256c;
    color: white;
    
}
.content-wrapimage{
  max-width: 1200px;
    margin: 0 auto;
  overflow:auto;
}
.headeritems{
    height: 40px;
    width: 1200px;
    background-color:#03256c;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    text-align: center;
    font-size: 30px
}
.headeritemstv{
    height: 40px;
    width: 1850px;
    background-color:#03256c;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    padding-left: 520px;
    font-size: 30px
}
.headeritemsac{
    height: 40px;
    width: 2100px;
    background-color:#03256c;
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    padding-left: 520px;
    font-size: 30px
}
.imgflex{
    display: flex;
    height: 380px;
    width:1200px;
    background-color: royalblue
}
.imgflextv{
    display: flex;
    height: 390px;
    width:1850px;
    background-color: royalblue
}
.imgflexac{
    display: flex;
    height: 300px;
    width:2100px;
    background-color: royalblue
}
.imgflexfridge{
    display: flex;
    height: 420px;
    width:1200px;
    background-color: royalblue
}
.imgcontainer{
    padding-top:20px;
    left: 70px;
    height: 230px;
    width:200px;
    background-color:white;
}
.imgcontainerlap{
    margin-top: 20px;
    padding-left:80px;
    margin-left:30px;
    height: 190px;
    width:350px;
    background-color:white;
}
.descriptionlap{
    margin-left: -70px;
    margin-top: -20px;
}
.imgcontainertv{
   margin-top: 20px;
    padding:20px;
    margin-left:30px;
    height: 230px;
    width:350px;
    background-color:white;
}
.imgcontainerac{
    margin-top: 20px;
    padding:20px;
    margin-left:30px;
    bottom: 30px;
    height: 160px;
    width:430px;
    background-color:white;
}
a{font-size: 13px;
    color: white;
}
.imgcontmargin{
    margin-left: 80px;
}

* {box-sizing:border-box}
/* Slideshow container */
.slideshow-container {
    display: flex;
    flex-direction: column;
    max-width:1200px;
  margin-left:40px;
    margin-right: 40px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/*dropdownbutton*/
.dropbtn {
  background-color:royalblue;
  color: white;margin-right: 20px;
    padding: 10px;
  font-size: 16px;
  border: none;
    margin-right: 60px
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: #03256c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color:;}

/* Next & previous buttons */
.prev{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top:-150px;
  padding: 16px;
  color:royalblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -150px;
    margin-right: 75px;
  padding: 16px;
  color: royalblue;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: royalblue;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

 .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




/*login*/
/* Full-width input fields */

.signupmargin{
    margin-right: 40px
}

.inputname, .inputpass{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttonlogins */
buttonlogin {
  background-color:royalblue;
  color: white;
  padding: 6px 10px;
  margin:0px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
}

buttonlogin:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel buttonlogin */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close buttonlogin */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color:royalblue;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
    height: 70%
}

/* The Close Button (x) */
.close {margin-left: 350px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel buttonlogin on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}


/*signup*/
/* The Close Button (x) */
.close2{margin-left: 850px;
    margin-top: 100px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: red;
  cursor: pointer;
}
/* The Modal (background) */
.modal2{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal2-content {
  background-color: royalblue;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
    height: 80%
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}




h4{padding-top: 10px;
font-style: italic;
    font-size: 20px;
}
.inputsearchbar{
    margin-top: 15px;
    margin-bottom:15px;
   margin-right: 2px;
    margin-left: 100px;
    padding: 5px;
    border-radius: 5px
}
.button2{
    margin: 10px;
    color: #03256c;
    border-radius: 5px
}

body {
	font-family: 'Poppins', sans-serif;
}
.button1 {
	font-family: 'Poppins', sans-serif;
    color: skyblue
}

header {
	display: flex;
	width: 100%;
	height:9.2vh;
	margin:auto;
	align-items: center;
    background-color:#03256c
}
.product{
    margin-left: 20px;
}

.logo-container,
.nav-links,
.cart {
	display: flex;
    margin-left: 20px;
    margin-right: 80px;
}

.logo-container {
    flex:1
}
.logo {
	font-weight: 400;
	margin: 5px;
    color: white
}
}
nav {
	flex:0.5;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	#color: #5f5f79;
	color:black;
    font-size: 18px;
	text-decoration: none;
}
.cart {
}

